html
  head
    title= title
  body
    h1=message
    span TodoList:
    form(action='/todos', method='GET')
     input(type='text', name='q')
     br
     br
     input(type='submit', value='Search')

    ul
     each val in todoList
      li= val
